*{
    font-family: 'Trebuchet MS';
}

body{
    background-color: rgb(26, 26, 26);
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.game h1{
    color: rgb(109, 202, 100);
}

.game #snake{
    border-radius: 5px;
}

.score-game{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

.score-game p{
    color: rgb(201, 201, 201);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    max-height: 200px;
    border-radius: 5px;
}

.menu button{
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    border: none;
    background-color: rgb(11, 48, 27);
    color: rgb(201, 201, 201);
}
